In [44]:
# Name : Sreelekshmi S
# Enrollment No: 15

#### Bag of Words

In [45]:
sents = 'the red dog cat eats dog dog eats food red cat eats'

In [46]:
set(sents.split())

{'cat', 'dog', 'eats', 'food', 'red', 'the'}

In [47]:
from nltk.tokenize import word_tokenize
import pandas as pd

In [48]:
sentence_1 = 'It was a good practice for us.'
sentence_2 = 'It was also good to know about it.'
sentence_3 = 'For all of us they have done a good practice.'

In [49]:
# find the list of all the distinct words present in these three sentences

In [50]:
words = sentence_1.split() + sentence_2.split() + sentence_3.split()
set(words)

{'For',
 'It',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it.',
 'know',
 'of',
 'practice',
 'practice.',
 'they',
 'to',
 'us',
 'us.',
 'was'}

In [51]:
words = word_tokenize(sentence_1) + word_tokenize(sentence_2) + word_tokenize(sentence_3)
set(words)

{'.',
 'For',
 'It',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [52]:
words = word_tokenize(sentence_1.lower()) + word_tokenize(sentence_2.lower()) + word_tokenize(sentence_3.lower())
set(words)

{'.',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [53]:
tokens = set(words)

In [54]:
tokens

{'.',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [55]:
df = pd.DataFrame(columns = list(tokens), index = [1,2,3])
df

,us,for,all,.,of,a,they,know,done,was,good,practice,also,have,it,about,to
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
tokens1 = word_tokenize(sentence_1.lower())
tokens2 = word_tokenize(sentence_2.lower())
tokens3 = word_tokenize(sentence_3.lower())

In [57]:
tokens1, tokens2, tokens3

(['it', 'was', 'a', 'good', 'practice', 'for', 'us', '.'],
 ['it', 'was', 'also', 'good', 'to', 'know', 'about', 'it', '.'],
 ['for',
  'all',
  'of',
  'us',
  'they',
  'have',
  'done',
  'a',
  'good',
  'practice',
  '.'])

In [58]:
counts1 = [tokens1.count(x) for x in df.columns]
counts2 = [tokens2.count(x) for x in df.columns]
counts3 = [tokens3.count(x) for x in df.columns]

In [59]:
counts1, counts2, counts3

([1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0],
 [0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 2, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0])

In [60]:
df

,us,for,all,.,of,a,they,know,done,was,good,practice,also,have,it,about,to
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
df.iloc[0,:] = counts1
df.iloc[1,:] = counts2
df.iloc[2,:] = counts3

In [62]:
df

  us for all  . of  a they know done was good practice also have it about to
1  1   1   0  1  0  1    0    0    0   1    1        1    0    0  1     0  0
2  0   0   0  1  0  0    0    1    0   1    1        0    1    0  2     1  1
3  1   1   1  1  1  1    1    0    1   0    1        1    0    1  0     0  0

In [63]:
# import the count vectorizer class
from sklearn.feature_extraction.text import CountVectorizer

In [64]:
# create the object
cv = CountVectorizer()

In [65]:
# apply the BOW method
mydata = cv.fit_transform([sentence_1, sentence_2, sentence_3])

In [66]:
mydata.toarray()

array([[0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 1, 0, 2, 1, 0, 0, 0, 1, 0, 1],
       [0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0]], dtype=int64)

In [67]:
cv.get_feature_names_out()

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [68]:
df = pd.DataFrame(data=mydata.toarray(),
                 columns=cv.get_feature_names_out())

In [69]:
df

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0,0,0,0,1,1,0,1,0,0,1,0,0,1,1
1,1,0,1,0,0,1,0,2,1,0,0,0,1,0,1
2,0,1,0,1,1,1,1,0,0,1,1,1,0,1,0

#### N-grams

In [70]:
# create the object
cv = CountVectorizer(ngram_range = (1,2))

In [71]:
# apply the BOW -ngram method
mydata = cv.fit_transform([sentence_1, sentence_2, sentence_3])

In [72]:
cv.get_feature_names_out()

array(['about', 'about it', 'all', 'all of', 'also', 'also good', 'done',
       'done good', 'for', 'for all', 'for us', 'good', 'good practice',
       'good to', 'have', 'have done', 'it', 'it was', 'know',
       'know about', 'of', 'of us', 'practice', 'practice for', 'they',
       'they have', 'to', 'to know', 'us', 'us they', 'was', 'was also',
       'was good'], dtype=object)

In [73]:
df = pd.DataFrame(data=mydata.toarray(),
                 columns=cv.get_feature_names_out())

In [74]:
df

,about,about it,all,all of,also,also good,done,done good,for,for all,...,practice for,they,they have,to,to know,us,us they,was,was also,was good
0,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,1,0,1
1,1,1,0,0,1,1,0,0,0,0,...,0,0,0,1,1,0,0,1,1,0
2,0,0,1,1,0,0,1,1,1,1,...,0,1,1,0,0,1,1,0,0,0

#### TF*IDF Vectorizer ####

In [75]:
# import thr class
from sklearn.feature_extraction.text import TfidfVectorizer

In [76]:
# create the object
tfidf = TfidfVectorizer()

In [77]:
# apply the algorithm
new_data = tfidf.fit_transform([sentence_1, sentence_2, sentence_3])

In [78]:
new_data.toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.42246056,
        0.32807831, 0.        , 0.42246056, 0.        , 0.        ,
        0.42246056, 0.        , 0.        , 0.42246056, 0.42246056],
       [0.37162591, 0.        , 0.37162591, 0.        , 0.        ,
        0.21948825, 0.        , 0.56526217, 0.37162591, 0.        ,
        0.        , 0.        , 0.37162591, 0.        , 0.28263108],
       [0.        , 0.37571621, 0.        , 0.37571621, 0.28574186,
        0.22190405, 0.37571621, 0.        , 0.        , 0.37571621,
        0.28574186, 0.37571621, 0.        , 0.28574186, 0.        ]])

In [79]:
tfidf.get_feature_names_out()

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [80]:
df = pd.DataFrame(data=new_data.toarray(),
                 columns=tfidf.get_feature_names_out())

In [81]:
df

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0.000000,0.000000,0.000000,0.000000,0.422461,0.328078,0.000000,0.422461,0.000000,0.000000,0.422461,0.000000,0.000000,0.422461,0.422461
1,0.371626,0.000000,0.371626,0.000000,0.000000,0.219488,0.000000,0.565262,0.371626,0.000000,0.000000,0.000000,0.371626,0.000000,0.282631
2,0.000000,0.375716,0.000000,0.375716,0.285742,0.221904,0.375716,0.000000,0.000000,0.375716,0.285742,0.375716,0.000000,0.285742,0.000000